.main {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 500px;
  grid-template-areas:
    "header header header "
    "item item item"
    "item item item";
}

.headliner {
  display: grid;
  align-content: stretch;
  justify-content: center;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.itemlistContainer {
  display: grid;
  grid-area: "item";
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  align-items: center;
}
