.main {
  display: grid;
  background-color: rgb(190, 219, 212);

  align-items: center;
  justify-content: center;
}

.main .cartas {
  display: grid;
  grid-template-rows: 450px 450px 450px;
  grid-template-columns: 300px 300px 300px;
  gap: 10px;
  row-gap: 110px;
}

.main .main-text {
  display: grid;

  align-items: center;
  justify-content: center;
  height: 500px;
}

.cartas img {
  width: 26px;
  height: 26px;
}
