.titulo {
  display: grid;
  background-color: rgb(68, 163, 155);
  grid-template-columns: 25% 45% 10 10% 5% 5%;
  grid-auto-flow: dense;
  grid-template-rows: 23px 33px 23px;
  color: rgb(3, 15, 9);
}

.titulo h2 {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-auto-flow: row;
}

ideal {
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.titulo #button4 {
  display: grid;
  grid-column-start: 5;
  justify-self: right;
  grid-row-start: 2;
  grid-row-end: 2;
}
.titulo #button3 {
  display: grid;
  grid-column-start: 7;
  justify-self: left;
  grid-row-start: 2;
  grid-row-end: 2;
}

.input-group {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
}
.input-group #lupita {
  display: grid;
  height: 39px;
  width: 65px;
  grid-column-start: 4;
  grid-row-start: 2;
  border-radius: 5px;
}
.form-outline #form1 {
  display: grid;
  height: 38px;
  width: 500px;
  align-self: right;
  grid-row-start: 2;
}

.carrito {
  display: grid;
  height: 26px;
  width: 26px;
  justify-self: left;
  grid-column-start: 6;
  grid-row-start: 2;
  column-gap: 5px;
}

.list a {
  text-decoration: none;
  color: white;
}
